## Задание 1

Импортируйте библиотеки pandas и numpy.


Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn. Создайте датафреймы X и Y из этих данных.

Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test) с помощью функции train_test_split так, чтобы размер тестовой выборки составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42.

Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model.

Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.

Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.

In [90]:
import pandas as pd
import numpy as np

In [91]:
from sklearn.datasets import load_boston

In [103]:
boston = load_boston()
data = boston['data']
feature_names = boston['feature_names']

In [93]:
X = pd.DataFrame(data, columns= feature_names)
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [94]:
target = boston['target']

Y = pd.DataFrame(target, columns=["price"])
Y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [95]:
from sklearn.model_selection import train_test_split

In [96]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.30, random_state=42)

In [97]:
from sklearn.linear_model import LinearRegression

In [98]:
reg = LinearRegression().fit(X_train, Y_train)

In [99]:
Y_pred_reg= reg.predict(X_test)
check_test_reg= pd.DataFrame({
    'Y_test': Y_test['price'], 
    'Y_pred_reg': Y_pred_reg.flatten()},
    columns =['Y_test', 'Y_pred_reg'])
    

check_test.head()

     Y_test Y_pred_clf
173    23.6        NaN
274    32.4        NaN
491    13.6        NaN
72     22.8        NaN
452    16.1        NaN

In [100]:
from sklearn.metrics import mean_squared_error
initial_mse = mean_squared_error(Y_test, Y_pred)
initial_mse

9.334548946165196

In [104]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(Y_test, Y_pred_reg)

3.1627098714573862

In [105]:
from sklearn.metrics import r2_score

In [106]:
r2_score(Y_test, Y_pred_reg)

0.7112260057484948

## Задание 2

Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble.

Сделайте агрумент n_estimators равным 1000,
max_depth должен быть равен 12 и random_state сделайте равным 42.

Обучите модель на тренировочных данных аналогично тому, как вы обучали модель LinearRegression,
но при этом в метод fit вместо датафрейма y_train поставьте y_train.values[:, 0],
чтобы получить из датафрейма одномерный массив Numpy,
так как для класса RandomForestRegressor в данном методе для аргумента y предпочтительно применение массивов вместо датафрейма.

Сделайте предсказание на тестовых данных и посчитайте R2. Сравните с результатом из предыдущего задания.

Напишите в комментариях к коду, какая модель в данном случае работает лучше.

In [107]:
from sklearn.ensemble import RandomForestRegressor

In [109]:
clf = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)

In [110]:
clf.fit(X_train, Y_train.values[:, 0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

In [111]:
Y_pred_clf = clf.predict(X_test)
check_test_clf= pd.DataFrame({
    'Y_test': Y_test['price'], 
    'Y_pred_reg': Y_pred_clf.flatten()},
    columns =['Y_test', 'Y_pred_clf'])

check_test_clf.head()

     Y_test Y_pred_clf
173    23.6        NaN
274    32.4        NaN
491    13.6        NaN
72     22.8        NaN
452    16.1        NaN

In [116]:
initial_mse = mean_squared_error(Y_test, Y_pred_clf)
initial_mse

9.334548946165196

In [117]:
mean_absolute_error(Y_test, Y_pred_clf)

2.0831253879090608

In [118]:
r2_score(Y_test, Y_pred_clf)

0.87472606157312

Результаты алгоритма RandomForest  в 3 раза лучше, чем LinearRegression

## Задание 3
Вызовите документацию для класса RandomForestRegressor,
найдите информацию об атрибуте feature_importances_.
С помощью этого атрибута найдите сумму всех показателей важности,
установите, какие два признака показывают наибольшую важность

In [121]:
clf.feature_importances_

array([0.03167574, 0.00154252, 0.00713813, 0.00123624, 0.01426897,
       0.40268179, 0.01429864, 0.06397257, 0.00528122, 0.01152493,
       0.01808108, 0.01245085, 0.41584732])

In [123]:
feature_importance = pd.DataFrame({'name':X.columns, 
                                   'feature_importance':clf.feature_importances_}, 
                                  columns=['feature_importance', 'name'])

In [124]:
feature_importance

    feature_importance     name
0             0.031676     CRIM
1             0.001543       ZN
2             0.007138    INDUS
3             0.001236     CHAS
4             0.014269      NOX
5             0.402682       RM
6             0.014299      AGE
7             0.063973      DIS
8             0.005281      RAD
9             0.011525      TAX
10            0.018081  PTRATIO
11            0.012451        B
12            0.415847    LSTAT

Признаки с наибольшей важностью

In [125]:
feature_importance.nlargest(2, 'feature_importance')

    feature_importance   name
12            0.415847  LSTAT
5             0.402682     RM